@font-face {
  font-family: "Super Mario 256";
  src: url("../../assets/fonts/SuperMario256.ttf") format("truetype");
}

.title {
  font-family: "Super Mario 256";
  font-size: 4rem;
}

.time-remaining {
  font-family: "Seven Segment", arial, sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.instructions {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  font-family: 700;
}
