@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }
}

@keyframes jump {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 0;
  }

  100% {
    bottom: 50px;
  }
}
